* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
.header__background {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
.navbar__brand {
    display:inline-flex;
    align-items: center;
}
.navbar__brand-img {
    display: block;
    width: 100%;

}
.navbar__brand-name {
    color: #FFFF;
    font-size: 29px;
}
.navbar__list,.navbar__social {
    display: inline-flex;
    gap:25px;
    list-style: none;
}
.navbar__item a {
    text-decoration: none;
    color: #FFFF;
    font-size: 14px;

}
.navbar__social .navbar__item img {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.header__title {
    font-size: 106px;
    color: #FFFF;
}
.header__subtext {
    color: #FFFF;
    font-size: 18px;
}
.header__book-button {
    background-color: #FFFF;
    border-radius: 2px solid #FFFF;
    padding: 22px 60px;
    font-size: 15px;
}